<div class="my-3" x-data="left_menu">
    <i class="bi bi-circle-fill" :class="status =='online' ? 'text-success' : 'text-danger'"></i>
    <span class=" h4" x-text="userName"></span>

    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                Contatos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Recentes
            </a>
        </li>
    </ul>
</div>
<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data('left_menu', () => ({
            userName: 'Vitor Campos',
            status: 'online'
        }));
    })
</script>